
 <app-favourite-banks *ngIf="showFavouriteBanksBoolean"></app-favourite-banks>
<div style="margin: 5px;" *ngIf="!showFavouriteBanksBoolean">
  <div>
    <h1 class="heading">Bank Search Application</h1>
  </div>
  <div style="display: flex;justify-content: space-around; align-items: center;">
    <select name="cityname" id="select-city" [(ngModel)]="cityName" (change)="fetchBanksFromCity($event)" >
      <option value="MUMBAI" selected>Mumbai</option>
      <option value="BANGALORE">Bangalore</option>
      <option value="PUNJAB">Punjab</option>
      <option value="DELHI">Delhi</option>
      <option value="NOIDA">Noida</option>
    </select>

    <mat-form-field appearance="outline" style="font-size: 12px;width: 400px;">
      <mat-icon matPrefix>search</mat-icon>
      <input type="text" (input)="searchForBanks($event)" matInput placeholder="Search Bank">
    </mat-form-field>
  </div>
  <div style="margin: auto;">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"  (page)="pageEvent = changePage($event)" ></mat-paginator>
  </div>
  <div class="relative-position">
    <div class="absolute-position">
      <mat-icon style="color: gold;">star</mat-icon>
      <button mat-button (click)="showFavouriteBanks()">Favourite</button>
    </div>
  </div>
  <div>
    <mat-spinner *ngIf="showSpinner" style="position: fixed;top: 50%;left: 45%;"></mat-spinner>
    <table *ngIf="!showSpinner" style="width: 100%;" class="bank-detail-table">
      <th>Id</th>
      <th>IFSC</th>
      <th>Bank Id</th>
      <th>Bank Name</th>
      <th>Branch</th>
      <th>City</th>
      <th>District</th>
      <th>State</th>
      <th>Actions</th>
      <tr style="text-align: center;" *ngFor="let bank of bankArray,index as i">
        <td>{{i+1}}</td>
        <td> {{bank.ifsc}} </td>
        <td> {{bank.bank_id}} </td>
        <td> {{bank.bank_name}} </td>
        <td> {{bank.branch}} </td>
        <td> {{bank.city}} </td>
        <td> {{bank.district}} </td>
        <td> {{bank.state}} </td>
        <td class="favourite-text" *ngIf="!isFavourite(bank)" (click)="addToFavourite(bank)" > Favourite </td>
        <td class="favourite-text" *ngIf="isFavourite(bank)" (click)="removeFromFavourite(bank)" >Unfavourite</td>
      </tr>
    </table>
  
  </div>
 

</div>

